#section2 {
    .intro__text {
        font-family: "Cormorant Garamond";
        color: #000;
        font-size: 18rem;
        line-height: 1.2;
        margin-top: -3%;
        margin-left: 7%;
        font-weight: 100;
        em {
            margin-left: 30%;
        }
        span {
            margin-left: 10%;
        }
    }
}