#section2 {
    .intro__text {
        // text-shadow: 3px 3px 10px #050505;
        font-family: "Cormorant Garamond";
        color: #000;
        font-size: 13rem;
        line-height: 1.2;
        margin-top: -2%;
        margin-left: 3%;
        font-weight: 100;
        em {
            margin-left: 30%;
        }
        span {
            margin-left: 10%;
        }
    }
}