#section3 {
    z-index: -1;
    display: flex;
    .profile {
        width: 40%;
    }
    .profile__info {
        margin: 30px 50px;
        width: 50%;
        desc {
            text-align: left;
            font-size: 1.5vw;
        }
        p { 
            width: 80%;
            margin-top: 30%;
            text-align: left;
            font-size: 1.2vw;
        }
    }
}
@media (max-width: 1200px){
    #section3 {
        z-index: -1;
        display: flex;
        flex-wrap: wrap;
        .profile {
            margin-left: -50%;
            width: 70vw;
        }
        .profile__info {
            margin: 30px 50px;
            width: 30vw;
            desc {
                text-align: left;
                font-size: 1.5vw;
            }
            p { 
                width: 80%;
                margin-top: 30%;
                text-align: left;
                font-size: 1.2vw;
            }
        }
    }
}

@media (max-width: 600px){
    #section3 {
        z-index: -1;
        display: flex;
        flex-wrap: wrap;
        .profile {
            margin-top: 30%;
            margin-left: -50%;
            width: 70vw;
        }
        .profile__info {
            margin: 30px 50px;
            width: 30vw;
            desc {
                text-align: left;
                font-size: 1.5vw;
            }
            p { 
                width: 80%;
                margin-top: 30%;
                text-align: left;
                font-size: 1.2vw;
            }
        }
    }
}