body {
    background-color: var(--color_body);
}
#horizontality {
    width: 700%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}
#horizontality > section {
    width: 100%;
    height: 100vh;
}
#horizontality > #section1 {
    width: 50%;
    height: 100vh;
}
#horizontality > #section2 {
    width: 70%;
    height: 100vh;
}

#horizontality > #section4 {
    background-color: #fefdf7;
}
#horizontality > #section5 {
    background-color: #fff;
}
#horizontality > #section6 {
    background-color: #4f4e4e;
}


section .textdeco {
    position: absolute;
    top: -20%;
    font-weight: bold;
    left: -23%;
    display: block;
    font-size: 10rem;
    transform: rotate(270deg);
    
    
}
section .textdeco::before {
    position: absolute;
    content: '';
    width: 470px;
    height: 1px;
    border: 2px solid #333;
    top: 62%;
    left: -70%;



}
